{% extends "seg_mngr/base.html" %}
{% block title %} Server Manager{% endblock %}
{% block content %}
<div class="col-md-6">
<h4>Registro de control cruzado en el server <strong>{{server.name}}</strong></h4>


<form id="form" action='.' method='post' enctype="multipart/form-data" 
	onsubmit="return validar_check()" >
        {% csrf_token %}        
         {% if tasks %}
         <table class="table table-bordered">
        	<thead>
        		<th>Tareas</th>        		
        	</thead>
        	<tbody>
        		{% for fila in tasks %}
        			{% ifchanged %}
        				<tr>
	        				<td  class="info">
	            				Grupo de tareas: <strong>
	            				{{fila.task_group}}</strong>
	        				</td>
        				</tr>
        			{% endifchanged %}
        			<tr>
        				<td>
        					<label >
    							<input name="task-{{fila.id}}" type="checkbox" 
    							class="resultado_check_tarea"> 
    							{{fila.name}}
  							</label>
        				</td>
        				     		
        			</tr>
        		{% endfor %}
        	</tbody>
        </table>
        <p id='errores' style="color:#FF0000;font-weight: bold;"></p>
        
        <input type="submit" value="Siguiente" class="btn btn-primary pull-right" />
        
        {% else %}
        <p>No hay tareas para realizar control cruzado</p>
        {% endif %}
        
		<a class="btn btn-primary"  href="/server_tasks/{{server.id}}">Volver</a>		
		
</form> 
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
function validar_check(){
		 var resultado = $('.resultado_check_tarea').filter(":checked");
		 if (resultado.length > 0) {  
			 return true;
	        } else {  
	            $("#errores").html("Debe seleccionar al menos una tarea");
	            return false;
	        }  
}
</script>
{% endblock %}