{% extends "seg_mngr/base.html" %}
{% block title %} Server Manager{% endblock %}
{% block content %}
<br>

 <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          {% if servers %}
          {% for servidor in servers %}
          <th><a href="/server_tasks/{{servidor.id}}/">Servidor {{servidor.name}}</a> <a href="/admin/seg_mngr/server/{{servidor.id}}/" target="_blank" style="color:#000"><span class="glyphicon glyphicon-wrench"></span></a>
           
           <div>
          {{servidor.operating_system}}
          </div>
          <div>
          <div>
          {{servidor.operating_system}}
          </div>
          <div>
          {{servidor.location}}
          </div>          
          </th>
          {% endfor %}       
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if matriz %}
        {% for fila in matriz %}
		{% ifchanged %}
        <tr>
        <td colspan=3><p class="text-center"><strong>Grupo </strong>{{fila.0.task_group}} </p></td>
        </tr>
        {% endifchanged %}
        <tr>
          <td >{{fila.0.name}} <a href="/admin/seg_mngr/task/{{tareas.id}}/" target="_blank" style="color:#000"><span class="glyphicon glyphicon-wrench"></span></a></td>
          {% for server_task in fila.1 %}
          {% if server_task.state == PENDIENTE  %}
          <td><span class="label label-danger">Pendiente</span> 
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          {% endif %}
          </td>         
          {% endif%}
          {% if server_task.state == NO_APLICA  %}
          <td><span class="label label-default">No aplica</span>
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          {% endif %}
          </td>
          {% endif %}                   
          {% if server_task.state == EN_CURSO  %}
          <td><span class="label label-primary">En curso</span>
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          {% endif %}
          </td>
          {% endif %} 
          {% if server_task.state == FINALIZADA  %}
          <td><span class="label label-success">Finalizada</span>
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          {% endif %}
          </td>
          {% endif %}
          {% endfor %} <!-- for server_task -->
        <!-- <td><span class="label label-success">OK</span></td>-->
        </tr>
        {% endfor %} <!-- for matriz -->
        {% endif %} <!-- if matriz -->
      </tbody>
    </table>
{% endblock %}