{% extends "seg_mngr/base.html" %}
{% block title %} Server Manager{% endblock %}
{% block content %}
<h2>Servidor {{servidor.name}}</h2>
<h5>Sistema Operativo: {{servidor.operating_system}}</h5>
<h5>Ubicación: {{servidor.location}}</h5>
<br>
<h3>Tareas del servidor</h3>
  	 
<table class="table">
	<thead>
		<tr>
			<th>Tareas</th>
			<th>Estado</th>
		</tr>
	</thead>
	<tbody>
  		<form  action='.' method='POST' enctype="multipart/form-data">
			{% csrf_token %}
		{% if matriz %}
        {% for fila in matriz %}
        {% ifchanged %}
        <tr>
        <td colspan=7><p class="text-center"><strong>Grupo </strong>{{fila.0.task_group}} </p></td>
        </tr>
        {% endifchanged %}
		<tr>
			<td>{{fila.0.name}}</td>
			{% autoescape off %}
			{% if fila.1.state == PENDIENTE  %}
          	<td><span class="label label-danger">Pendiente</span></td>
          	{% endif%}
          	{% if fila.1.state == NO_APLICA  %}
          	<td><span class="label label-default">No aplica</span></td>
          	{% endif%}
          	{% if fila.1.state == EN_CURSO  %}
          	<td><span class="label label-primary">En curso</span></td>
          	{% endif%} 
          	{% if fila.1.state == FINALIZADA  %}
          	<td><span class="label label-success">Finalizada</span></td>
          	{% endif %}
			{% if fila.1.id != 0  %}
			<td>{{fila.1.get_comentario_as_forhtml}} <a href="/server_task_form/{{fila.1.id}}/" name="update-serverTask-{{servidor.id}}-{{fila.0.id}}" value="Modificar Comentario" class="btn btn-mini ">Editar</a></td>
			{% else %}
			<td>{{fila.1.comments}}</td>			
			{%endif%}			
			{% endautoescape %}
			<td><button type="submit" name="{{servidor.id}}-{{fila.0.id}}-EC" value="En curso" class="btn btn-mini "><span class="glyphicon glyphicon-time"></span> En curso</button></td>
			<td><button type="submit" name="{{servidor.id}}-{{fila.0.id}}-NA" value="No aplica" class="btn btn-mini "><span class="glyphicon glyphicon-remove"></span> No Aplica</button></td>
			<td><button type="submit" name="{{servidor.id}}-{{fila.0.id}}-P" value="Pendiente" class="btn btn-mini "><span class="glyphicon glyphicon-play-circle"></span> Pendiente</button></td>
			<td><button type="submit" name="{{servidor.id}}-{{fila.0.id}}-F" value="Finalizada" class="btn btn-mini "><span class="glyphicon glyphicon-ok"></span> Finalizada</button></td>			
		</tr>
		{% endfor%} <! -- endfor matriz -->
		{% endif %} <!-- endif matriz -->
		</form>
	</tbody>
</table>
<a class="btn btn-primary"  href="/server_manager/0">Volver</a>


{% endblock %}