{% extends "seg_mngr/base.html" %}
{% block title %} Server Manager{% endblock %}
{% block content %}
<br>

<form name ='form' action='.' method='post' enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
</form>
<a  onclick="mostrar()">Mostrar Comentario</a>
 <table class="table table-bordered">
      <thead>
        <tr >
          <th style="text-align:right;">Nombre del Servidor</th>
          {% if servers %}
          {% for servidor in servers %}
          <th><a href="/server_tasks/{{servidor.id}}/">Servidor {{servidor.name}}</a> <a href="/admin/seg_mngr/server/{{servidor.id}}/" target="_blank" style="color:#000"><span class="glyphicon glyphicon-wrench"></span></a>
           </th>
           {% endfor %}       
          {% endif %}
      </tr>
      <tr>
          <th style="text-align:right;">Ips del Servidor</th>
          {% if servers %}
          {% for servidor in servers %}
          <th>{% for ip in servidor.getIp %}
           <div>
          {{ip.ip_address}}
          </div>
          {% endfor %}
           </th>
           {% endfor %}       
          {% endif %}
      </tr>
          <tr>
          <th style="text-align:right;">Sistema operativo del Servidor</th>
          {% if servers %}
          {% for servidor in servers %}
         <th>
         <div>
          {{servidor.operating_system}}
          </div>
           </th>
           {% endfor %}       
          {% endif %}
      </tr> 
            <tr>
          <th style="text-align:right;">Ubicación del Servidor</th>
          {% if servers %}
          {% for servidor in servers %}
        <th>
        <div>
          {{servidor.location}}
          </div>
           </th>
           {% endfor %}       
          {% endif %}
      </tr> 
              <tr>
          <th style="text-align:right;">Nivel de exposición del Servidor</th>
          {% if servers %}
          {% for servidor in servers %}
          <th>
        {% if servidor.nivel_exposicion == PUBLICO %}
          
          <div>
          Público
          </div>
          {% elif servidor.nivel_exposicion == NAT  %}
          <div>
          NAT
          </div>
          {% else %}
          <div>
          LAN
          </div>
          {% endif %}
           </th>
           {% endfor %}       
          {% endif %}
          
      </tr>           
      </thead>
      <tbody>
        {% if matriz %}
        {% for fila in matriz %}
		{% ifchanged %}
        <tr>
        <td colspan={{ servers|length|add:"1" }}><p class="text-center"><strong>Grupo </strong>{{fila.0.task_group}} </p></td>
        </tr>
        {% endifchanged %}
        <tr>
          <td >{{fila.0.name}} <a href="/admin/seg_mngr/task/{{fila.0.id}}/" target="_blank" style="color:#000"><span class="glyphicon glyphicon-wrench"></span></a></td>
          {% autoescape off %}
          {% for server_task in fila.1 %}
          {% if server_task.state == PENDIENTE  %}
          <td><span class="label label-danger">Pendiente</span> 
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          <div style="display:none;" class="comentario">{{server_task.get_comentario_as_forhtml}}</div> 
          {% endif %}
          </td>         
          {% endif%}
          {% if server_task.state == NO_APLICA  %}
          <td><span class="label label-default">No aplica</span>
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          <div style="display:none;" class="comentario">{{server_task.get_comentario_as_forhtml}}</div> 
          {% endif %}
          </td>
          {% endif %}                   
          {% if server_task.state == EN_CURSO  %}
          <td><span class="label label-primary">En curso</span>
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          <div style="display:none;" class="comentario">{{server_task.get_comentario_as_forhtml}}</div> 
          {% endif %}
          </td>
          {% endif %} 
          {% if server_task.state == FINALIZADA  %}
          <td><span class="label label-success">Finalizada</span>
          {% if server_task.comments != '' %}
          <span class="glyphicon glyphicon-list"></span>
          <div style="display:none;" class="comentario">{{server_task.get_comentario_as_forhtml}}</div> 
          {% endif %}
          </td>
          {% endif %}
          {% endfor %} <!-- for server_task -->
          {% endautoescape %}
        <!-- <td><span class="label label-success">OK</span></td>-->
        </tr>
        {% endfor %} <!-- for matriz -->
        {% endif %} <!-- if matriz -->
      </tbody>
    </table>

{% endblock %}
{% block script %}
<script type="text/javascript">
 $(document).ready(function() {
 $(function() {
 	$('#id_operating_system').val("{{ operating_system_id }}").change();
    $('#id_operating_system').change(function() {
        document.form.submit();
    });
});
});

function mostrar(){
$('.comentario').show();}
</script>
{% endblock %}